attrs==21.4.0
azure-common==1.1.28
azure-core==1.22.1
azure-mgmt-apimanagement==3.0.0
azure-mgmt-core==1.3.0
certifi==2021.10.8
charset-normalizer==2.0.10
click==8.0.3
clickclick==20.10.2
colorama==0.4.4
connexion==2.6.0
cors==1.0.1
elasticsearch==7.6.0
filelock==3.6.0
Flask==2.0.2
Flask-Cors==3.0.10
Flask-Testing==0.8.1
future==0.18.2
gevent==21.12.0
greenlet==1.1.2
idna==3.3
importlib-resources==5.4.0
inflection==0.5.1
isodate==0.6.1
itsdangerous==2.0.1
Jinja2==3.0.3
jsonschema==4.4.0
MarkupSafe==2.0.1
msrest==0.6.21
nose==1.3.7
oauthlib==3.2.0
openapi-schema-validator==0.2.3
openapi-spec-validator==0.4.0
pyrsistent==0.18.1
PySocks==1.7.1
python-dateutil==2.6.0
python-dotenv==0.19.2
PyYAML==6.0
requests==2.27.1
requests-file==1.5.1
requests-oauthlib==1.3.1
six==1.16.0
swagger-ui-bundle==0.0.6
tldextract==3.3.0
tqdm==4.62.3
urllib3==1.26.7
Werkzeug==2.0.3
xmltodict==0.12.0
zipp==3.7.0
zope.event==4.5.0
zope.interface==5.4.0
