/* body {
    font-size: 12px;
}

.swagger-ui .op-block-tag-section {
    color: red !important;
    font-size: 12px !important;

} */

ul {
    margin: -2px 0 18px 0 !important;
    font-size: 14px;
    color:  #3b4151;
    font-family: sans-serif;
    margin: 0;
    list-style-type: none !important;
}

ul > li {
    text-indent: -20px !important;
}

ul > li:before {
    content: "-";
    padding-right: 12px !important;
}